github "ReactiveX/RxSwift" ~> 2.0
github "Swinject/Swinject" ~> 1.1.4
github "Alamofire/Alamofire" ~> 3.0
github "Alamofire/AlamofireImage" ~> 2.0
github "SwiftyJSON/SwiftyJSON"
github "realm/realm-cocoa"
github "CosmicMind/Material"
github "hackiftekhar/IQKeyboardManager" == 4.0.5